{% extends 'base.html' %}
{% block content %}

 <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Auto Nuevo Leon</p>
            </div>
        </div>
    </header>

    <div class="container">
       <div class="row">
            <center>
                <div class="col-8">
                        <br></br>
                    <p align="justify">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet scelerisque ante. Aenean egestas consectetur rhoncus. Nulla in lobortis lectus, ut fermentum ex. Mauris lacinia interdum purus at tristique. Ut quis mattis eros. Nulla a nunc quis lectus tincidunt mattis. Maecenas consectetur nulla et magna cursus, et sodales lacus malesuada. Nam hendrerit quam ut luctus placerat. Ut sit amet mattis massa. Vestibulum facilisis elit eu diam hendrerit vulputate. Pellentesque non hendrerit tellus. Nulla mattis ex nec mattis vehicula. Donec rutrum vitae ex in egestas. Quisque efficitur dui volutpat, condimentum risus sit amet, tristique elit. Nulla molestie, nunc nec fringilla fringilla, nulla urna efficitur dolor, et congue quam nibh non dui.
                        <br></br>
                        Proin sollicitudin tincidunt nisl non molestie. Phasellus efficitur nunc nec interdum viverra. Vivamus vulputate enim enim, efficitur varius dui interdum eget. Integer feugiat erat vel ullamcorper semper. Pellentesque dapibus pharetra viverra. Vestibulum scelerisque urna facilisis, laoreet nunc eu, aliquam urna. Aliquam tincidunt urna et est euismod, sed aliquet arcu tempor. Nunc vitae porttitor velit. Phasellus interdum turpis in massa posuere, et scelerisque orci malesuada. Duis bibendum blandit consequat.
                        <br></br>
                        In vestibulum mattis lectus, id porttitor massa egestas nec. Etiam vel ullamcorper velit. Cras vitae euismod erat. Donec iaculis nulla vel metus iaculis, a tristique erat pretium. Suspendisse ac arcu sagittis lectus rhoncus porttitor. Proin porttitor ac velit in bibendum. Sed placerat massa dolor, lacinia porta erat vulputate sit amet.
                    </p>
                        <br></br>
                </div>
            </center>
       </div>
    </div>


{% endblock %}